.App {
  max-width: 500px; 
  width: 100%; 
  margin: 0 auto; 
  box-sizing: border-box; 
  padding: 20px; 
  border: 1px solid gray; 
  display: flex; 
  flex-direction: column;
  gap: 30px;
}

.handover_memo {
  white-space: pre-wrap;
  background-color: #f6f6f6;
  padding: 12px;
  border-radius: 8px;
}